<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="project.name" value="hoppscotch"/>
<!--  <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-60.60C{1.} : %m%n"/>-->
  <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %logger : %m%n"/>
  <property name="log.path" value="${user.dir}/logs/"/>

  <appender name="Console"
            class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        ${log.pattern}
      </Pattern>
    </layout>
  </appender>

  <appender name="RollingFile"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.path}/daily/${project.name}.log</file>
    <encoder
      class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>${log.pattern}</Pattern>
    </encoder>

    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- 每日滚动，当文件达到 10 Mb 时 -->
      <fileNamePattern>${log.path}/daily/${project.name}-%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <!-- INFO 级别 -->
  <root level="debug">
    <appender-ref ref="RollingFile"/>
    <appender-ref ref="Console"/>
  </root>

  <!-- "com.soulcraft*" 设置为 debug 级别 -->
  <logger name="com.soulcraft" level="debug" additivity="false">
    <appender-ref ref="RollingFile"/>
    <appender-ref ref="Console"/>
  </logger>

</configuration>
